{% extends bill_base %}
{% load static %}


{% block title %} Purchase No : {{ bill.billno }}{% endblock title %}


{% block content %}
    
    <div style="color:#402657; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Purchase Bill No : {{ bill.billno }}</div>

    <br><br>

    <form method="post">

    {% csrf_token %}

     
        <div id="printArea" class="bg">
               
            <table class="noborder" style="width: 800px; margin-left: auto; font-size: 2.5rem;  margin-right: auto;">
                <tbody>
               
                  
                    <tr style="text-align: center;">
                        <td >
                           
                            <span style="font-size: 150%;font-weight: 800;">{{bill.supplier.name}}</span> <br>
                            <p style="font-weight: 700;">GSTIN NO - {{bill.supplier.gstin}}</p>

                            ---------------------------------------------<br>
                            <!-- <span style="font-size: 120%; font-weight: bold; text-decoration: underline;">DEALER DETAILS:</span> <br> -->
                            <span style="text-decoration: underline; font-weight: bold;"></span> 
                            <span>{{bill.supplier.address|linebreaks}}</span><br>
                            <span style="">EMAIL : {{bill.supplier.email}}</span> <br>
                            ------------------------------------------------<br>
                            <p style="text-align: center;style="font-weight: 700;"">TAX INVOICE -  PURCHASE</p> 
                            
                        </td>
                    </tr>
                    <tr>
                        <td ><span style="font-weight: 800;">INVOICE NO :</span> {{ bill.billno }}</td>
                       
                      
                    </tr>
                    <tr>
                        <td ><span style="font-weight: 800;">DATE :</span> {{ bill.time.date }}</td>
                    </tr>
                </tbody>
            </table>

                   
                      
                        <table class="table borderless" style="width: 800px;font-size: 2.5rem;  margin-left: auto; margin-right: auto; border-collapse: collapse;">
                            <tbody>


                                <tr>
                                    <td class="" style="width: 50%; font-weight: 700;">&nbsp;HSN</b></td>
                                    
                                    
                                    <td class="" style="width: 25%; font-weight: 700;">&nbsp;Particulars</td>
                                    <td class="" style="width: 25%; font-weight: 700;">&nbsp;Qty</td>
                                    <td class="" style="width: 25%; font-weight: 700;">&nbsp;Rate</td>
                                    <td class="" style="width: 25%; font-weight: 700;">&nbsp;Value</td>
                                </tr>
                                {% for item,i,j,k in items %}
                                <tr>
                                    <td class="" style="width: 50%;font-weight: 700;">&nbsp;{{item.stock.barcode}}</b></td>
                                    
                                    
                                    <td class="" style="width: 25%;font-weight: 700;">&nbsp;{{ item.stock.name }}</td>
                                    <td class="" style="width: 25%; font-weight: 700;">&nbsp;{{ item.quantity }}</td>
                                    <td class="" style="width: 25%;font-weight: 700;">&nbsp;{{ item.perprice }}</td>
                                    <td class="" style="width: 25%;font-weight: 700;">&nbsp;{{k}}</td>
                                </tr>
                             
                                {% endfor %}
                            </tbody>
                        </table>


                        <table class="table borderless" style="width: 800px; font-size: 2.5rem; margin-left: auto; margin-right: auto; border:none !important;">
                                    <tbody>
                                <tr>
                                    <td class="" style="width: 50%; font-weight: bold;">&nbsp;Taxable Amt</b></td>
                                    
                                    
                                    <td class="" style="width: 25%; font-weight: bold;">&nbsp;CGST</td>
                                    <td class="" style="width: 25%;font-weight: 700;">&nbsp;SGST</td>
                                    <td class="" style="width: 25%;font-weight: 700;">&nbsp;Total Amt</td>
                                   
                                </tr>
                                {% for item,i,j,k in items %}
                                <tr>
                                    <td class="" style="width: 50%; font-weight: bold;">&nbsp;{{ item.totalprice }}</b></td>
                                    
                                    
                                    <td class="" style="width: 25%; font-weight: bold;">&nbsp;{{ j }}</td>
                                    <td class="" style="width: 25%;font-weight: 700;">&nbsp;{{ i }}</td>
                                    <td class="" style="width: 25%;font-weight: 700;">&nbsp;{{k}}</td>
                                   
                                </tr>
                                
                              
                                {% endfor %}
                                <tr><td></td><td></td><td><p style="width: 200%;font-weight: 700;margin-left: 70px;">Total: {{total}}</td></tr>
                             
                            </tbody>
                        </table>
            

        </div>

        <div class="wrapper">
            <button class="center ghost-blue" onclick="printpage('printArea')">Print</button>
            <!-- <button class="center ghost-green" type="submit">Save Draft</button> -->
            <a href="{% url 'sales-list' %}" class="btn center ghost-button">Go Back</a>
        </div>
    
    </form>
    
    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}