{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#402657; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> 
    
    <br>
    
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
    
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.super_market.errors }}
                        <label for="{{ form.super_market.id_for_label }}">Super Market:</label>
                        {{ form.super_market }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.supplier_name.errors }}
                        <label for="{{ form.supplier_name.id_for_label }}">Supplier name:</label>
                        {{ form.supplier_name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.quantity.errors }}
                        <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
                        {{ form.quantity }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.cost_price.errors }}
                        <label for="{{ form.cost_price.id_for_label }}">cost price:</label>
                        {{ form.cost_price }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.selling_price.errors }}
                        <label for="{{ form.selling_price.id_for_label }}">selling price:</label>
                        {{ form.selling_price }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.sgst.errors }}
                        <label for="{{ form.sgst.id_for_label }}">SGST:</label>
                        {{ form.sgst }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.cgst.errors }}
                        <label for="{{ form.cgst.id_for_label }}">CGST:</label>
                        {{ form.cgst }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.barcode.errors }}
                        <label for="{{ form.barcode.id_for_label }}">Barcode:</label>
                        {{ form.barcode }}
                    </div>
                </div>
        
                <br>
        
                <div class="align-middle">
                    <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
                    {% if title == "New Stock" %}
                        <button type="reset" class="btn ghost-blue" >Reset</button>
                    {% endif %}
                    {% if delbtn %}
                        <a href="{% url 'delete-stock' object.pk %}" class="btn ghost-red"> Delete Stock </a>
                    {% endif %}
                    <a href="{% url 'inventory' %}" class="btn ghost-button">Cancel</a>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock content %}